# for reference see <https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file>

* @jacinpoz @kievitsp @jay-taylerson @tgosling-genesis @brycroftgenesis @khouari1 @suarezcarlos @rafaelnferreira @harryjhornby

/client/ @ArturKrasinski @cistov @derekdon @gentaDemnushaj @mahamzafar990 @matteematt @MrBrunoWolff @nick-genesis @skawian @SzymonZur
/genx/client/ @ArturKrasinski @cistov @derekdon @gentaDemnushaj @mahamzafar990 @matteematt @MrBrunoWolff @nick-genesis @skawian @SzymonZur
