{
  "prerequisites": {
    "foundationUI": "@foundationVersion@",
    "gsf": "@genesisVersion@"
  },
  "dependencies": {
    "pbcReporting": "@client.version@",
    "serverDepId": "@server.version@"
  }
}
